@keyframes scale {
  0%{
    scale: 1;
  }
  100%{
    scale: 1.2;
  }
}
@keyframes scale-reverse {
  0%{
    scale: 1.2;
  }
  100%{
    scale: 1;
  }
}
.scale:hover{
  animation: scale .5s linear forwards;
}
.scale:not(:hover){
  animation: scale-reverse .5s linear;
}