*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: 1px solid red;
}
.page{
  min-width: 1100px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}
.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    background-color:#F2F2F2;
    /* parameters for the header section */
}
  .logo_place_header{
      width: 154px;
      height: 31px;
      position: absolute;
      top: 30px;
      left:64px;
      z-index: 5;
    }
  .header__title{
      width: 730px;
      margin-left: 64px;
      font-size: 102px;
      line-height: 96px;
      font-weight: bold;
      align-self: center;
      z-index: 5;
    }
   .header__subtitle{
      width: 388px;
      position: absolute;
      /*padding: 0 0 30px 64px; sustitucion de margin*/
      bottom:30px;
      left: 64px;
      line-height: 25px;
      font-size: 18px;
      font-weight: normal;
      z-index: 5;
    }
    .header__link{
      color: #2F80ED;
    }
    .link_hover:hover{/*agregado por mi, lo que no se si metodologicamente esta correcto el nombre si me pueden poner un comentario sobre esto se lo agradeceria mucho*/
      color:darkorange;
    }
   .header__main-illustration{
      width: 756px;
      height: 608px;
      position: absolute;
      align-self: flex-end;
      right: 0px;
      z-index:1;
    }
/* here we have two examples of selectors in order to remind you how to set styles for elements */
   .header__square-pic {
      height: 568px;
      width: 568px;
    }
    .header__square{
      top:64px;
      background-color:#2F80ED;
      z-index:0;
      position: absolute;
      right: 0;
    }
.description{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
  .two-columns{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
    .two-columns__brief{
    color: #2F80ED;
    width: 180px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    }
      .two-columns__main{
        width: 80%;
        min-width: 784px;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      .two-columns__paragraph{
        line-height: 34px;
        font-size: 24px;
        font-weight: normal;
        /*padding: 0 0 30px;*/
      }
      .two-columns__span-accent{
        line-height: 34px;
        font-size: 24px;
        font-weight:bold;
        margin-top: 30px;
      }
      /*table*/
.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 100px;
}
  .section-title{
    width: 60%;
    margin:0 0 20px;
    /*margin: 0 auto 20px; prueba*/
    font-size: 60px;
    line-height: 1.15;
    font-style: bold;
    text-align: center;
  }
  .section-subtitle{
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    /*margin: 0 20% 20px; prueba*/
    text-align: center;
    margin: 0 0 60px;
  }
  .table{
    width: 1100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    row-gap: 60px;
    }
    .table__cell{
      width: 250px;
    }
      .table__heading{
        line-height: 1.15;
        font-size: 24px;
        font-weight: bold;
      }
      .table__text{
        margin: 20px 0 0;
        line-height: 1.2;
        font-size: 18px;
        font-weight: normal;
      }
.feynman{
  height: 790px;
  background-color:#F2F2F2;
  position: relative;
  display: flex;
  justify-content: center;
}
  .feynman__title{
    width: 775px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 100px;
    z-index: 1;
    }
  .feynman__subtitle{
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    align-self:center;
    margin: 70px 0 0;
    z-index: 1;
    }
  .feynman__link{
    color: #2F80ED;
    line-height: 51px;
    font-size:36px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
    z-index: 1;
    }
  .feynman__image{
    width: 867px;
    height: 637px;
    z-index: 0;
    align-self: flex-end;
    position: absolute;
    left: 0;
    }
.kaufman{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}
  .section-title_theme_dark{
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    color: white;
    z-index: 1;
  }
  .section-subtitle_theme_dark{
    color: white;
    z-index: 1;
  }
  .table_theme_dark{
    z-index: 1;
    row-gap: 80px;
  }
  .table__cell_theme_dark {
    width: 200px;
  }
  .table__heading_theme_dark{
    color: white;
  }
  .table__text_theme_dark{
    color: white;
  }
  .kaufman__triangle{
    position:absolute;
    right: -124px;
    top: 0;
    z-index: 0;
  }
.footer{
    min-height: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 60px 0 40px;
    background-color: black;

}
    .footer__columns{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .footer__column_content_copyright{
      flex-basis: 711px;
      position: relative;
    }
      .logo_place_footer{
        width: 183px;
        height: 35px;
      }
      .footer__author{
        color: white;
        font-size: 18px;
        line-height:25px;
        font-weight:normal;
        position: absolute;
        bottom: 18px;
      }
    .footer__column_content_about{
      display: flex;
      flex-direction: column;
    }
      .footer__column-link{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    .footer__column-heading{
      line-height: 30px;
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 20px;
      color: white;
    }
    .footer__link{
      color: white;
      line-height: 30px;
      font-size: 18px;
      font-weight: normal;
    }
    .footer__column_content_social{
      display: flex;
      flex-direction: column;
    }
      .footer__social-icons{
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
